<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.UserMapper">
    <select id="getList" resultType="org.zerock.domain.UserVO">
    <![CDATA[select * from tbl_user ]]>
    </select>

    <insert id="insert">
        insert into tbl_user(user_oid, user_id, user_pw, birth, email, phone, gender, auth, regDate)
        values (user_seq.nextval, #{user_id}, #{user_pw}, #{birth}, #{email}, #{phone}, #{gender}, #{auth}, sysdate)
    </insert>

    <insert id="insertSelectKey">
        <selectKey keyProperty="user_oid" order="BEFORE" resultType ="int">
            select user_seq.nextval from dual
        </selectKey>
        insert into tbl_user(user_oid, user_id, user_pw, birth, email, phone, gender, auth)
        values (#{oid}, #{user_id}, #{user_pw}, #{birth}, #{email}, #{phone}, #{gender}, #{auth})
    </insert>

    <select id="read" resultType="org.zerock.domain.UserVO">
        select * from tbl_user where user_oid = #{userOid}
    </select>

    <delete id="delete">
        delete from tbl_user where user_oid = #{userOId}
    </delete>

    <update id="update">
        update tbl_user
        set userpw = #{userPw},
            email = #{email},
            phone = #{phone},
            gender = #{gender},
            authority = #{authority}
        where user_oid = #{userOid}
    </update>

</mapper>